{% macro chatbox() %}
  <div id="chatbox">
    <div id="messages">

    </div>
    <form id="chatForm">
      <input type="text" id="next_message" />
      <input type="submit" value="Send" />
    </form>
  </div>
{%- endmacro %}
{% macro javascript() %}
<script>
  var messages = null
  socket.on('message', function(data) {
    console.log("recieved message!!")
    display_message(data.message, data.user)
  })

  function display_message(message, username) {
    var line = document.createElement("p")
    line.setAttribute('class','user_message')
    if(username !== undefined) {
      var usernameText = document.createElement("span")
      usernameText.setAttribute('class','username')
      usernameText.appendChild(document.createTextNode(username + ": "))
      line.appendChild(usernameText)
    }
    line.appendChild(document.createTextNode(message))
    messages.appendChild(line)
  }

  document.addEventListener('DOMContentLoaded', function() {
    messages = document.getElementById("messages")
    document.getElementById("chatForm").onsubmit = function(event) {
      event.preventDefault()
      var messageElem = document.getElementById("next_message")
      console.log("sending message: " + messageElem.value)
      socket.emit('send_message', messageElem.value)
      messageElem.value = ""
    }
}, false);
</script>
{% endmacro %}
