{% extends 'base.html.j2' %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
    const socket = io();
    document.addEventListener('DOMContentLoaded', function() {
      socket.on('connect', function() {
          socket.emit('join_room', {
            room: '{{ room }}'
          });
      });
    })
</script>
{% endblock %}
{% block header %}
  <h1>{% block title %}Lobby{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="main">

  </div>
{% endblock %}
