{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}{{current_user.username}}'s Profile{% endblock %}</h1>
  {% if g.user %}
  <form method="post" action="{{url_for('lobby.create_session')}}" class="inline">
    <button type="submit" name="submit_param" value="submit_value" class="link-button">
      New Lobby
    </button>
  </form>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="profile_info">
    <h1>Wins</h1>
    <p class="value">{{ g.user['wins'] }}</p>
    <h1>Losses</h1>
    <p class="value">{{ g.user['wins'] }}</p>
  </div>
{% endblock %}
